.banner {
  display: block;
  background: #008c93;
  margin-top: -1rem !important;
  display: flex;
  align-content: center;

  h1 {
    font-family: 'Lobster' !important;
    position: absolute;
    font-size: 8.5vw;
    top: 15vw;
    width: 100%;
    text-align: center;
    user-select: none;
  }

  canvas {
    display: block;
  }
}

@media only screen and (orientation: portrait) {
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 43vw;

    h1 {
      top: 15vw;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .banner {
    height: 20vw;

    h1 {
      top: 5vw;
      font-size: 6vw;
    }
  }
}
