.collabsection2 {
  background-color: #ffffff;
  padding-bottom: 10vw;
  padding-top: 5vw;

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .introduction {
    font-size: 5vw;
    color: #0092ac;
    position: absolute;
    transform: translateY(110%) rotate(-90deg);
    display: inline-block;

    margin-bottom: 0;
    padding-bottom: 1vw;
    border-bottom: 1px solid #0092ac;
  }

  .collabtext {
    font-family: Muli;
    font-size: 2vw;
    color: #0092ac;
    font-weight: bolder;
    // flex-grow: 6;
    width: 60%;

    margin-left: 20vw;
  }
}
