.banner {
  // background-color: #3a93ae;
  // background: linear-gradient(
  //   180deg,
  //   rgba(58, 147, 174, 1) 20%,
  //   rgba(0, 79, 87, 1) 30%
  // );
  display: block;
  background: #008c93;
  height: 35vw;

  h1 {
    font-family: 'Lobster' !important;
    position: absolute;
    font-size: 8.5vw;
    top: 15vw;
    left: 20vw;
    margin: 0;
    user-select: none;
  }

  canvas {
    display: block;
  }

  @media only screen and (min-width: 768px) {
    height: 29vw;

    h1 {
      top: 9vw;
    }
  }
}
