.descriptionsection {
  background-color: #ffffff;
  padding-bottom: 3vw;

  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  justify-content: center;
  align-items: center;

  .modelingchart {
    width: 57vw;
  }

  p {
    font-family: 'Muli';
    font-size: 2vw;
    color: #0092ac;
    font-weight: normal;
    width: 57vw;
    text-align: justify;
    padding-top: 2vw;
  }

  .collapsetext {
    padding: 0;
  }

  .section-header {
    width: 57vw;
    margin-top: 2vw;
    color: #0092b0;
    font-size: 5vw;
    // text-decoration: underline;
    // text-decoration-color: #0092b0;
    // text-decoration-style: solid;
    // text-underline-offset: 2vw;
    padding-bottom: 1vw;
    text-align: center;
  }

  .top-button-bar {
    display: flex;
    align-content: center;
    justify-content: space-around;

    padding-top: 5vw;

    .pill-button {
      margin: 0;
      background-color: #0092b0;

      &.active {
        background-color: #00c5d0;
      }
    }
  }

  .pill-button {
    margin-top: 2vw;
    background-color: #00c5d0;
    border-radius: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: 'Muli';
    font-size: 2.5vw;
    color: white;
    transition-duration: 0.3s;
  }

  .pill-button:hover {
    background-color: #00c5d0;
  }

  .collapsed {
    background-color: #008c96;
    content: 'Read more';
  }

  .image-placeholder {
    margin-top: 6vw;

    padding: 1vw;

    border-radius: 5vw;
    background-color: #eee;
    display: flex;
    height: 35vw;
    width: 58vw;

    h4 {
      align-self: center;
      text-align: center;
      width: 100%;
    }
  }

  h1 {
    padding-top: 2vw;
    width: 57vw;
    font-size: 3vw;
  }
}

.sectiondark {
  background-color: #004c57;

  .section-header {
    color: white;
    text-decoration-color: white;
  }

  p {
    color: white;
  }
}

.sectiondark2 {
  background-color: #008d97;

  .section-header {
    color: white;
    text-decoration-color: white;
  }

  p {
    color: white;
  }
}

@media only screen and (min-width: 1024px) {
  .descriptionsection {
    padding-left: 10vw;

    .pill-button {
      font-size: 1.3vw;
    }

    .section-header {
      font-size: 4vw;
    }

    p {
      font-size: 1.35vw;
      font-style: normal;
    }
  }
}
