@font-face {
  font-family: 'Lobster';
  src: url('https://2020.igem.org/wiki/images/7/77/T--Estonia_TUIT--lobster.woff')
      format('woff'),
    url('lobster.woff') format('woff');
}

@font-face {
  font-family: 'Muli';
  src: url('https://2020.igem.org/wiki/images/9/91/T--Estonia_TUIT--muli.woff')
      format('woff2'),
    url('muli.woff') format('woff');
}

h1,
h2 {
  font-family: 'Lobster', cursive !important;
  color: white;
  border-bottom: unset;
}

p {
  font-family: 'Muli' !important;
  // font-style: italic;
  color: white;
  // letter-spacing: 1px;
  margin-bottom: 0;
}

h3 {
  font-family: 'Muli' !important;
}
