// comment here
// anchor offsets
a.anchor {
  display: block;
  position: relative;
  top: -3vw;
  visibility: hidden;
}

//this doesnt work
.img-fit {
  width: 100%;
  object-fit: cover;
  max-height: 300px; /* only if you want fixed height */
}

.image-placeholder-35 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 35vw;
  width: 58vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-40 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 40vw;
  width: 58vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-32-45 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 32vw;
  width: 45vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-15-45 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 15vw;
  width: 45vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-20-40 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 20vw;
  width: 40vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-15-30 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 15vw;
  width: 30vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-20-30 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 20vw;
  width: 30vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-35-40 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 35vw;
  width: 40vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-35-38 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 35vw;
  width: 38vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}

.image-placeholder-35-45 {
  //changed from 6 to 1 margin top; changed background color to transprent
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  border-radius: 5vw;
  background-color: transparent;
  display: flex;
  height: 35vw;
  width: 45vw;

  h4 {
    align-self: center;
    text-align: center;
    width: 100%;
  }
}
