.globalist {
  font-family: 'Muli';
  font-style: italic;
  font-size: 1.5vw;
  margin-top: 2vw;
  color: #008c93;
  font-weight: normal;
  list-style-type: disc;
  list-style-image: unset !important;
}
